/*Entire Page*/
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}


h3 {
    font-size: 3em;
    padding-bottom: 10px;
}
p {
    font-size: 1em;
}
@media (min-width: 1200px) {
    #introduction .container{
        max-width: 800px;
    }
    #contact .container{
        max-width: 800px;
    }
}
.btn {
    display:block;
}



#introduction, #portfolio, #contact {
    padding-top: 40px;
}


/*Button for body*/
.btn-body {
    background: #61d6e6;
    background-image: -webkit-linear-gradient(top, #61d6e6, #199c9c);
    background-image: -moz-linear-gradient(top, #61d6e6, #199c9c);
    background-image: -ms-linear-gradient(top, #61d6e6, #199c9c);
    background-image: -o-linear-gradient(top, #61d6e6, #199c9c);
    background-image: linear-gradient(to bottom, #61d6e6, #199c9c);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 1px 1px 6px #666666;
    -webkit-box-shadow: 1px 2px 7px #666666;
    -moz-box-shadow: 1px 2px 7px #666666;
    box-shadow: 1px 2px 7px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 11px 23px 11px 25px;
    border: solid #e8f3fa 2px;
    text-decoration: none;
    width: 200px;
    margin: 0 auto;
}
.btn-body:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/*Cover Page*/
#coverpage {
    margin-top:-20px;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    background: url(../img/header.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
}
h1 {
    font-size: 7em;
}
#tagname {
    top: 30%;
    position: relative;
    transform: translateY(-50%);
}
#tagline {
    font-size: 2em;
}
@media only screen and (max-width: 720px) {
    h1 {
        font-size: 4em;
    }
    #tagline {
        font-size: 1em;
    }
    #tagname {
        top: 40%;
    }
}
.zmdi-hc-5x {
    font-size: 7em;
}
#arrowdown {
    position: absolute;
    bottom: 0;
    left: 48%;
    cursor: pointer;
}


/*Portfolio*/
/*In a different file because it is a bit too long*/

/*Myself*/
#myself {
    margin-top: 50px;
    margin-bottom: 50px;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
@media (min-width: 992px) {
    #myselfContent {
        margin-top:60px;
    }

}
.myselfContent {
    margin-left:10px;
    margin-right:10px;
}

/*Contact*/
#contact {
    padding-bottom: 70px;
}
#contact .col-md-3 {
    width: 25%;
    float: left;
}
#map {
    margin-bottom: 50px;
    width:100%;
    height:200px;
}
.social-container {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}
#zmdi-hc-4x {
    font-size: 5em;
}


/*Footer*/
#footer {
    height: 80px;
    background: #7FB7C8;
    background-image: -webkit-linear-gradient(top, #7FB7C8, #2980b9);
    background-image: -moz-linear-gradient(top, #7FB7C8, #2980b9);
    background-image: -ms-linear-gradient(top, #7FB7C8, #2980b9);
    background-image: -o-linear-gradient(top, #7FB7C8, #2980b9);
    background-image: linear-gradient(to bottom, #7FB7C8, #2980b9);
}
#footer p {
    font-size: 1.3em;
    color: white;
    text-shadow: 1px 1px 6px #666666;
}
#backtotop {
    margin-left: 90%;
    margin-top: -30px;
    cursor: pointer;
    float:right;
}
#backtotop:hover {
    color:black;
}
#copyright {
    text-align:center;
    float:none;
    margin-top: 20px;
}